<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/register.css" />
    <title>Document</title>
  </head>
  <body>
  
		<form class="card-form">
			<div class="input">
				<input type="text" class="input-field" id="firstName" name="firstName" required/>
				<label class="input-label">First Name</label>
			</div>
			<div class="input">
				<input type="text" class="input-field" name="surname" id="surname"  required/>
				<label class="input-label">Surname</label>
			</div>

      <div class="input">
				<input type="text" class="input-field" name="email" id="email" required/>
				<label class="input-label">Email</label>
			</div>

      <div class="input">
				<input type="tel" class="input-field" name="telephone" id="telephone"  required/>
				<label class="input-label">Telephone</label>
			</div>
			<div class="input input-two">
				<input type="text" class="input-field" name="city" id="city" required/>
				<label class="input-label">City</label>
			</div>
			<div class="action">
				<button class="action-button button-53">Register</button>
			</div>
		</form>
		<div class="card-info">
			<p>Vote not fight, let love lead <a href="#"> Click here to Vote --> Choose your preferred candidate and be rest assured your vote will count</a></p>
		</div>
	</div>
</div>


    <!-- <script src="app.js"></script>
    <script src="vote.js"></script> -->
    <script src="./js/app.js"></script>
  </body>
</html>